<aside 
  [class.collapsed]="sidebarCollapsed()"
  class="sidebar">
  
  <!-- SIDEBAR HEADER -->
  <div class="sidebar-header">
    <a routerLink="/home" class="logo-wrapper">
      <span class="logo" [class.hidden]="sidebarCollapsed()">
        <img src="images/logo.png" alt="Logo" class="logo-img" />
        <span class="logo-text">Planta La Esperanza</span>
      </span>
      <img 
        *ngIf="sidebarCollapsed()"
        src="images/logo.png" 
        alt="Logo" 
        class="logo-icon" />
    </a>
  </div>

  <!-- SIDEBAR MENU -->
  <nav class="sidebar-nav">
    <!-- Menu Group -->
    <div class="menu-group">
      <h3 class="menu-group-title">
        <span [class.hidden]="sidebarCollapsed()">MENU</span>
        <svg 
          *ngIf="sidebarCollapsed()"
          class="menu-group-icon"
          width="24" 
          height="24" 
          viewBox="0 0 24 24" 
          fill="none">
          <path 
            fill-rule="evenodd" 
            clip-rule="evenodd" 
            d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z" 
            fill="currentColor"/>
        </svg>
      </h3>

      <ul class="menu-list">
        <li *ngFor="let item of menuItems" class="menu-item-wrapper">
          <ng-container *ngIf="hasAccess(item.roles)">
            
            <!-- Menu item without children -->
            <a 
              *ngIf="!item.children && item.route"
              [routerLink]="item.route"
              class="menu-item"
              [class.active]="isActive(item.route)">
              <i class="pi {{ item.icon }} menu-icon"></i>
              <span class="menu-text" [class.hidden]="sidebarCollapsed()">{{ item.label }}</span>
            </a>

            <!-- Menu item with children -->
            <button 
              *ngIf="item.children"
              (click)="toggleMenu(item)"
              class="menu-item"
              [class.active]="item.expanded || hasActiveChild(item)">
              <i class="pi {{ item.icon }} menu-icon"></i>
              <span class="menu-text" [class.hidden]="sidebarCollapsed()">{{ item.label }}</span>
              <svg 
                *ngIf="!sidebarCollapsed()"
                class="menu-arrow"
                [class.rotated]="item.expanded"
                width="20" 
                height="20" 
                viewBox="0 0 20 20" 
                fill="none">
                <path 
                  d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585" 
                  stroke="currentColor" 
                  stroke-width="1.5" 
                  stroke-linecap="round" 
                  stroke-linejoin="round"/>
              </svg>
            </button>

            <!-- Dropdown Menu -->
            <div 
              *ngIf="item.children && item.expanded && !sidebarCollapsed()"
              class="submenu">
              <ul class="submenu-list">
                <li *ngFor="let child of item.children">
                  <a 
                    [routerLink]="child.route"
                    class="submenu-item"
                    [class.active]="isActive(child.route)">
                    <i class="pi {{ child.icon }} submenu-icon"></i>
                    <span>{{ child.label }}</span>
                  </a>
                </li>
              </ul>
            </div>

          </ng-container>
        </li>
      </ul>
    </div>
  </nav>
</aside>
