.form-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}

.field {
    margin-bottom: 0.5rem;
}

:host ::ng-deep .p-inputnumber {
    width: 100%;
}

:host ::ng-deep .p-inputnumber-input {
    width: 100%;
}

:host ::ng-deep .p-select {
    width: 100%;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.w-full {
    width: 100%;
}
