.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

:host ::ng-deep .p-password {
    width: 100%;
}

:host ::ng-deep .p-password-input {
    width: 100%;
}